<div class="ui attached {{this.type}} icon message">
  <i class="{{this.statusClass}} icon"></i>
  <i class="close icon" role="button" {{action "closeButton"}}></i>
  <div class="content">
    <p>
      {{this.flash.message}}
    </p>
  </div>
</div>