<div class="ui attached {{flash.type}} icon message">
  <i class="{{statusClass}} icon"></i>
  <i class="close icon" {{action 'closeButton'}}></i>
  <div class="content">
    <p>{{flash.message}}</p>
  </div>
</div>
