<div class="ui grid">
  <div class="ui twelve wide column content">
    <div class="ui left floated">{{item}}</div>
  </div>
  <div class="ui four wide column">
    <div class="ui right floated" {{action "remove"}}>
      {{#if showDeleteIcon}}
        <i class="remove large red icon"></i>
      {{/if}}
      Delete
    </div>
  </div>
</div>