{{#link-to (route-name-helper route 'show') model class="ui olive button"}}Show{{/link-to}}
{{#link-to (route-name-helper route 'edit') model class="ui teal button"}}Edit{{/link-to}}
<button class="ui red button" {{action 'deleteButton' model.id}}>Destroy</button>
