{{#ui-modal name="vehicleModal" class="vehicleModal small" onApprove=(action "approveModal") closable=false}}
  <div class="header">
    Adding new vehicle...
  </div>
  <div class="content">
    <div class="scrolling">
      {{vehicle-form vehicle=vehicle}}
    </div>
  </div>
  <div class="actions">
    <button class="ui red deny button" {{action "cancelButton"}}>
      Cancel
    </button>
    <div class="ui positive button">
      Create
    </div>
  </div>
{{/ui-modal}}