<div class="ui attached {{this.type}} icon message">
  <i class="{{this.statusClass}} icon"></i>
  <i class="close icon" role="button" {{on "click" this.closeButton}}></i>
  <div class="content">
    <p>
      {{@flash.message}}
    </p>
  </div>
</div>