<div class="ui grid">
  <div class="ui twelve wide column content">
    <div class="ui left floated">
      {{@item}}
    </div>
  </div>
  <div class="ui four wide column">
    <div class="ui right floated" role="button" {{on "click" this.remove}}>
      {{#if this.showDeleteIcon}}
        <i class="remove large red icon"></i>
      {{/if}}
      {{t "general.delete"}}
    </div>
  </div>
</div>