{{#ui-modal name="companyModal" class="companyModal small" onApprove=(action 'approveModal') closable=false}}
  <div class="header">
    Add new company...
  </div>
  <div class="content">
    {{find-company countries=countries data=company}}
    <div class="scrolling">
      {{company-form countries=countries data=company}}
    </div>
  </div>
  <div class="actions">
    <div class="ui red deny button" {{action "cancelButton"}}>
      Cancel
    </div>
    <div class="ui positive {{if saveDisabled 'disabled'}} button">
      Save
    </div>
  </div>
{{/ui-modal}}