{{#ui-modal name="companyModal" class="companyModal small" closable=false}}
  <div class="header">
    Showing {{company.name}}...
  </div>
  <div class="scrolling content">
    {{company-form countries=countries data=company inputDisabled=true}}
  </div>
  <div class="actions">
    <button class="ui positive button" {{action "okButton"}}>
      OK
    </button>
  </div>
{{/ui-modal}}