<div class="ui container">
  <div class="ui huge secondary pointing menu">
    {{link-to 'CTCAdmin2' 'index' class='item header'}}
    <div class="right menu">
      {{link-to 'Companies' 'companies' class='item'}}
    </div>
  </div>
</div>
<div class="ui container">
  {{outlet}}
</div>
